.bd{
  .weui_cells_bgcolor{
    background-color: #f5f5f5;
  }

  .font-color-01{
    color: #3176bc;
  }

  .sum-textcolor{
    color: #9c9c9c;
  }

}


.container{

  .weui_tabbar{
    background: #252e38;
    padding-bottom: 5px;

    .weui_bar_item_on{
      .weui_tabbar_label{
        color: #008aff;
      }
      i{
        color: #008aff;
      }
    }

    .weui_tabbar_label{
      color: #556678;
    }

    i{
      color: #556678;
    }

  }

  .weui_tabbar{
    position: fixed;
    bottom:0;
  }




}
