<div class="plan">
    <header class="header-bar header-bar-nav">
        <a v-link="{path:'/home'}" style="height: 44px; line-height: 44px;"><i class="iconfont icon-fanhui header-icon"></i></a>
        <h1 class="header-title">工作计划</h1>
    </header>

    <div class="container" id="container">
        <div class="cell container-padder">
            <div class="bd">
                <div class="weui_grids">
                    <a v-link="{path:'/detailed/'+l.Id}" class="weui_grid" v-for="l in list">
                        <div class="weui_grid_icon">
			            	<span class="radius">
			            			<img class="iconfont  icon-home-style" :src="l.Icon|getSrc" v-if="l.Icon" />
                                <i class="iconfont icon-zhongdian icon-home-style" style="margin-top: 0;" v-else></i>
			            	</span>
                        </div>
                        <p class="weui_grid_label">
                            {{l.Name}}
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>

<loading :show="loading" :text="text" ></loading>
</div>